<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="529ed92b6de5cdb05ca291a83d2bcc4b" />
        <activity
            android:name="com.smartlocationrn.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"
            />
    </application>
</manifest>
